@import url('./fonts.css');
@import url('./swiperjs.css');

:root {
  --color-primary: #3B5D50;
  --color-secondary: #2e493e;
  --color-tertiary: #F9BF29;
  --color-primary-bg: #EFF2F1;
  --color-black: #2F2F2F;
  --color-dark: #202020;
  --color-white: #fff;
  --color-lightgreen: #CBD5D1;
  --color-content: rgb(106, 106, 106);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial, Helvetica, sans-serif';
}

a {
  text-decoration: none;
  color: var(--color-black);
}

a:hover {
  color: var(--color-content);
  transition-duration: 0.2s;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.f-s-14 {
  font-size: 14px;
}

.f-s-16 {
  font-size: 16px;
}

.f-s-18 {
  font-size: 18px;
}

.primary-color {
  color: var(--color-primary);
}

.hero-bg {
  background-color: var(--color-primary);
}

.primary-bg {
  background-color: var(--color-primary-bg);
}

.secondary-bg {
  background-color: var(--color-white);
}

.para-content {
  color: var(--color-content);
}

.black-color {
  color: var(--color-black);
}

.default-padding {
  padding: 3rem 0;
}

.social-icon-container {
  background-color: var(--color-lightgreen);
  border-radius: 50%;
  height: 35px;
  width: 35px;

  &:hover {
    background-color: var(--color-primary);
    transition-duration: 0.2s;

    .social-icons {
      color: var(--color-lightgreen);
    }
  }
}

.social-icons {
  color: var(--color-primary);
}

.img-hover:hover {
  transform: scale(1.01);
  transition-duration: 0.3s;
}

.site-button {
  color: var(--color-white);
  background-color: var(--color-black);

  &:hover {
    transition-duration: 0.3s;
    background-color: var(--color-dark);
  }
}

.help-sec-prod-img {
  background-color: var(--color-lightgreen);
}

/* -------------------Main Content CSS Start------------------- */

.hero-section-heading {
  font-size: 54px;
}

.hero-button-1 {
  color: var(--color-black);
  background-color: var(--color-tertiary);
}

.hero-button-2 {
  color: var(--color-white);
  background-color: transparent;
  border: 2px solid hsla(0, 0%, 100%, 0.5);

  &:hover {
    color: var(--color-white);
    transition-duration: 0.3s;
    border: 2px solid var(--color-white);
  }
}

.craft-section-img {
  transform: translateY(0);
  transition: transform 0.4s ease;
}

.craft-section-products {
  cursor: pointer;

  &:hover .craft-section-img {
    transform: translateY(-10%);
  }

  &:hover .cross-icon-container {
    visibility: visible;
    opacity: 1;
  }

  &:hover .cross-icon {
    visibility: visible;
    opacity: 1;
  }
}

.cross-icon-container {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--color-black);
  padding: 10px;
  align-items: center;
  margin-bottom: -20px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.cross-icon {
  height: 25px;
  width: 25px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}

.why-choose-icons {
  height: 45px;
  width: 45px;
}

.help-section li {
  list-style-type: circle;
}

.blog-posts {
  margin-bottom: 80px;
}

.input-form input {
  border: 0.5px solid var(--color-content);
}

.footer-newsletter button {
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    background-color: var(--color-secondary);
    transition-duration: 0.2s;
  }
}

.footer-section-img img {
  bottom: -35%;
}


/* -------------------Media Query CSS------------------- */

/* For extra small devices */
@media (max-width:575.99px) {

  .default-padding {
    padding: 2rem 0;
  }

  .hero-section-heading {
    font-size: 28px;
  }

}

/* For Small devices */
@media (min-width:576px) and (max-width:767.98px) {
  .default-padding {
    padding: 3rem 0;
  }

  .hero-section-heading {
    font-size: 28px;
  }
}

/* For Medium devices */
@media (min-width:768px) and (max-width:991.98px) {
  .hero-section-heading {
    font-size: 42px;
  }
}

/* For Large */
@media (min-width:992px) and (max-width:1199.98px) {}

/* For Extra large */
@media (min-width:1200px) and (max-width:1399.98px) {}

/* Extra extra large devces */
@media (min-width:1400px) {}